node_modules
dist
.git
.gitignore
.github
.env
.env.*
!.env.example
test
coverage
.nyc_output
.idea
.vscode
*.launch
*.sublime-workspace
.project
.classpath
.c9
.settings
.DS_Store
docker-compose.yml
Dockerfile
README.md
LICENSE
*.md
flake.*
.direnv
biome.json
