# Database
DATABASE_MASTER=localhost
DATABASE_SLAVE=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=website_niaefeup
DATABASE_SYNCHRONIZE=true

# Environment
NODE_ENV=development

# Server
PORT=3000
